<div class="container">
    <div class="sidebar">
      <p>IntelliCount : Gestion simplifiée, analyses précises</p>
    </div>
    <div class="content">
      <h2>Reset Your Account Password</h2>
      <p>Email</p>
      <form>
        <input type="email" placeholder="Type your email address" />
        <p><a routerLink="/reset-password-phone">Reset with phone number</a></p>
  
        <div class="buttons">
          <button type="button" class="cancel">Cancel</button>
          <button type="button" class="submit" (click)="onResetPassword()">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
  