<div class="container">
  <div class="sidebar">
    <p>IntelliCount : Gestion simplifiée, analyses précises</p>
  </div>
  <div class="content">
    <h2>Update Your Password</h2>
    <p>Please enter your verification code to update your password</p>
    <form>
      <input type="text" placeholder="Type your verification code" />
      <div class="buttons">
        <button type="button" class="cancel" (click)="onCancel()">Cancel</button>
        <button type="button" class="submit" (click)="onSubmit()">Submit</button>
      </div>
    </form>
  </div>
</div>
