<div class="container">
  <div class="sidebar">
    <p>IntelliCount : Gestion simplifiée, analyses précises</p>
  </div>
  <div class="content">
    <h2>Reset Your Account Password</h2>
    <p>Phone Number</p>
    <form>
      <input type="text" placeholder="Type your phone number" />
      <p><a routerLink="/reset-password-email">Reset with email</a></p>
      <div class="buttons">
        <button type="button" class="cancel" (click)="onCancel()">Cancel</button>
        <button type="submit" class="submit" (click)="onSubmit()">Reset Password</button>
      </div>
    </form>
  </div>
</div>